
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@100;200&family=Poppins:wght@300&display=swap');

.header{
    width: 90%;
    height: 100px;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header span{
   font-size: 20px;
   font-weight: 800;
   font-family: 'Poppins', sans-serif;
}
.selector{
    width: 17%;
    height: 40px;
    /* background-color: rgb(70, 183, 248);  */
    border: 2px solid rgb(70, 70, 70);
    border-radius: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.selector span{
    width: 48%;
    height: 30px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    /* text-align: center; */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
} 
.selector span:hover{
    background-color: rgb(164, 222, 255);
    box-shadow: 0px 1px 8px 0px rgba(107, 107, 107, 0.75);
}
.section{
    width: 95%;
    height: 60%;
    /* background-color: rgb(130, 238, 211); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mapdiv{
    width: 26%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 1px rgba(113, 113, 113, 0.75);  
    border-radius: 12px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mapdiv h4{
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
}
.mapsubdiv{
    width: 95%;
    height: 130px;
    /* background-color: grey; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.mapdiv h3{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.mapdiv span{
    font-weight: 600;
    font-size: small;
    font-family: 'Poppins', sans-serif;
 }
.cash{
    position: absolute;
    width:65px;
     top:50%;
      left:0; 
      right:0;
       border-bottom: 1px solid red;
       font-family: 'Poppins', sans-serif;
}

.line{
    border:1px solid rgb(0, 0, 0);
    width: 90%;
}
.getstart {
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
  }
  
  .getstart.getstart-1 {
    background-color: rgb(245, 255, 104);
  }
  
  .getstart.getstart-2 {
    background-color: rgb(255, 195, 171);
  }
  
  .getstart.getstart-3 {
    background-color: rgb(252, 171, 255);
  }
  

  
.getstart img{
    width: 30px;
    height: 30px;
}
.getstart span{
  font-size: 13px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
}
.smallhead{
    height: 30px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: rgb(71, 71, 71);
    /* background-color: red; */
}
.mapcontent{
    width: 90%;
    height: 25px;
    /* background-color: blueviolet; */
    font-size: 12px;
  font-weight: 800;
  color: rgb(79, 79, 79);
  display: flex;
  gap: 10px;
  
}
.mapcontent img{
    width: 15px;
    height: 15px;
}
.mapcontent span{
    font-size: 11px;

}
.mapdiv h6{
    text-decoration: underline;
    margin-left: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}


@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .getstart {
        width: 50%;
      
      }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section{
        width: 95%;
        height: 60%;
    }
    .header span{
        font-size: 16px;
    }

    .selector{
        width: 30%;
    height: 33px;
    }
    .selector span{
        width: 48%;
        height: 30px;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 360px;
        /* text-align: center; */
        cursor: pointer;
    } 
    
    .mapdiv{
        width: 32%;
        height: 90%;
        background-color: white;
        box-shadow: 0px 1px 8px 0px rgba(113, 113, 113, 0.75);  
        border-radius: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .mapdiv h4{
       font-weight: 700;
       font-size: 17px;
    }
    .mapdiv h6{
        font-weight: 600;
        font-size: 12px;
        margin-left: 13px;
     }
     .getstart {
        width: 50%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
      }
      .getstart img{
        width: 20px;
        height: 20px;
    }
    .getstart span{
      font-size: 10px;
      font-weight: 800;
      color: rgb(0, 0, 0);
    }
    .smallhead{
        font-size: 10px;
        height: 10px;
    }
    .mapcontent{
        width: 90%;
        height: 26px;
        font-size: 10px;
      font-weight: 800;
      color: rgb(79, 79, 79);
      display: flex;
      gap: 5px;
      
    }
    .mapcontent img{
        width: 12px;
        height: 12px;
    }
    .mapcontent span{
        font-size: 11px;
    }
}

@media only screen and (max-width: 767px) {
    .header span{
        font-size: 16px;
    }

    .selector{
        width: 30%;
    height: 33px;
    }
    .selector span{
        width: 48%;
        height: 30px;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 360px;
        /* text-align: center; */
        cursor: pointer;
    } 
    .section{
        width: 98%;
    }
    .mapdiv{
        width: 32%;
        height: 90%;
        background-color: white;
        box-shadow: 0px 1px 8px 0px rgba(113, 113, 113, 0.75);  
        border-radius: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .mapdiv h4{
       font-weight: 700;
       font-size: 17px;
    }
    .mapdiv h6{
        font-weight: 600;
        font-size: 12px;
        margin-left: 13px;
     }
     .getstart {
        width: 50%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
      }
      .getstart img{
        width: 20px;
        height: 20px;
    }
    .getstart span{
      font-size: 10px;
      font-weight: 800;
      color: rgb(0, 0, 0);
    }
    .smallhead{
        font-size: 10px;
        height: 10px;
    }
    .mapcontent{
        width: 90%;
        height: 26px;
        font-size: 10px;
      font-weight: 800;
      color: rgb(79, 79, 79);
      display: flex;
      gap: 5px;
      
    }
    .mapcontent img{
        width: 12px;
        height: 12px;
    }
    .mapcontent span{
        font-size: 11px;
    }

   
}
@media only screen and (min-width: 637px) and (max-width: 697px) {
    .section{
        width: 98%;
    }
    .item2{
        overflow-y: scroll;
    }
    .mapdiv h6{
        font-weight: 600;
        font-size: 11px;
        margin-left: 10px;
     }
        
}
@media only screen and (min-width: 500px) and (max-width: 637px) {
    .getstart{
        width: 70%;
    }
    .mapdiv h6{
        font-weight: 600;
        font-size: 10px;
        margin-left: 10px;
     }
    
}

@media only screen and (min-width: 480px)  and (max-width: 591px) {
    .section{
        width: 98%;
      
    }
    .getstart {
        width: 60%;
        height: 30px;
        
      }
      .getstart img{
        width:18px;
        height: 18px;
    }
    .getstart span{
      font-size: 9px;
    }
    .mapdiv{
        width: 33%;
        height: 300px;
        padding-left: 5px;
    }
    .mapdiv h6{
        font-weight: 600;
        font-size: 9px;
        margin-left: 14px;
     }
     .mapcontent{
        /* overflow-x: scroll;
        overflow-y:hidden ; */
     }
}

@media only screen and (max-width: 480px) {
   .header{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-bottom: 10px;
   }
    .header span{
        font-size: 13px;
        font-weight: 700;
    }   
    .selector{

    }
     .section{
            display: flex;
            flex-direction: column;
            width: 100%; 
            height: 1400px;
            gap: 10px;
            
        }
    
        .mapdiv{
            width:90%;
            height:270px;
        }
        .selector{
            width: 60%;
        height: 30px;
        /* background-color: aqua; */
        }
        .selector span{
            width: 48%;
            height: 28px;
            font-size: 12px;

           
        }
}